<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Movie Recommender</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Movie</th>
               <th>Rating</th>
            </tr>
         </thead>

         <tbody>
            {% for input in userinput %}
               <tr>
                   <td>{{ input.movie }}</td>
                   <td>{{ input.rating }}</td>
               </tr>
            {% endfor %}
            <tr>
              <td>{{usermessage}}</td>
            </tr>
         </tbody>
      </table>
      <form action="{{ url_for('submit_entry') }}" method=post class=submit-entry>
      <div> Enter some movies you've seen and what you would rate them </div>
      <dl>
        <input type=text size=15 name=movie placeholder="Movie">
        <input type=number size=15 name=rating step=any placeholder="Enter Rating 0-5">
        <input type=submit name=submitbtn value=Add>
      </dl>
      <dl>
        <input type=submit name=submitbtn value=Reset>
      </dl>
    </form>

</body>
</html>