<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Movie Recommender</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Movie</th>
               <th>Your Rating</th>
            </tr>
         </thead>

         <tbody>
            {% for movies in movies %}
               <tr>
                   <td>{{ movies.title }}</td>
                   <td>{{ ratings.rating }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <input type=text size=15 name=title placeholder="Movie">
        <input type=text size=15 name=rating placeholder="Your Rating">
        <input type=submit value=Add>
      </dl>
    </form>

</body>
</html>